<div class="form-group">
    <label for="busqueda">Buscar:</label>
    <input type="text" class="form-control" id="busqueda" name="busqueda" onkeyup="cargarDatos()">
</div>
<table id="tablaEntrada" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Código</th>
      <th>Fecha</th>
      <th>Sucursal</th>
      <th>Descripción</th>
      <th>Total</th>
      <th>Estado</th>
      <th>Vendedor</th>
      <th>Comentario</th>
      <th>Ver Acciones</th>
    </tr>
  </thead>
  <tbody id="tablaEntradaBody">
    <!-- Aquí irían las filas de la tabla -->
  </tbody>
</table>
