<!-- Agregar la referencia a jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Agregar la referencia a Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Agregar el canvas para dibujar el gráfico -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="graficos">
  <h3>Ventas por Mes</h3>
  <canvas id="chartVentasPorMes"></canvas>
  <p><em>Este gráfico muestra las ventas totales por mes durante el año actual.</em></p>
</div>

<div class="graficos">
  <h3>Vendedores por Mes</h3>
  <canvas id="VendedoresMes"></canvas>
  <p><em>Este gráfico muestra la cantidad de ventas realizadas por cada vendedor durante el año actual.</em></p>
</div>

<div class="graficos">
  <h3>Vendedores en el Mes Actual</h3>
  <canvas id="VendedoresMesActual"></canvas>
  <p><em>Este gráfico muestra la cantidad de ventas realizadas por cada vendedor durante el mes actual.</em></p>
</div>

<div class="graficos">
  <h3>Total de Ventas del Día</h3>
  <canvas id="TotalVentasdia"></canvas>
  <p><em>Este gráfico muestra la cantidad total de ventas realizadas en el día de hoy.</em></p>
</div>



<style>
.tabla-graficos .graficos {
  max-width: 50%;
  height: auto;
}

  
  .tabla-graficos td {
    display: block;
    text-align: center;
  }
}
</style>


<!-- Agregar el script que dibuja el gráfico -->
<script>
$(document).ready(function() {
  obtenerDatosVentasPorMes();
});


function obtenerDatosVentasPorMes() {
  console.log("Solicitando datos...");
  $.ajax({
    url: "/inicio/ventaspormes",
    type: "GET",
    dataType: "json",
    success: function(data) {
        console.log(data);
        crearChartVentasPorMes(data);
  //   if (data && data.data && data.data.length) {
  //  console.log(data);
  //  crearChartVentasPorMes(data);
  //} else {
  //  console.log('Los datos recibidos no tienen la estructura esperada.');
  //}
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log(textStatus, errorThrown);
    }
  });
}
function crearChartVentasPorMes(datos) {
  var labels = [];
  var ventas = [];
  for (var i = 0; i < datos.labels.length; i++) {
    labels.push(datos.labels[i]);
    ventas.push(datos.data[i]);
  }
  var ctx = document.getElementById("chartVentasPorMes").getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: 'Ventas por mes',
        data: ventas,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 2,
        pointRadius: 5,
        pointBackgroundColor: 'rgba(54, 162, 235, 1)',
        pointBorderColor: 'rgba(54, 162, 235, 1)',
        pointHoverRadius: 7,
        pointHoverBackgroundColor: 'rgba(54, 162, 235, 1)',
        pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
}


	
	$(document).ready(function() {
  obtenerDatosVentasVendedores();
});

function obtenerDatosVentasVendedores() {
  console.log("Solicitando datos...");
  $.ajax({
    url: "/inicio/ventasvendedores",
    type: "GET",
    dataType: "json",
    success: function(data) {
      console.log(data);
      crearChartVentasVendedores(data);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log(textStatus, errorThrown);
    }
  });
}

function crearChartVentasVendedores(datos) {
  var labels = [];
  var ventas = [];
  for (var i = 0; i < datos.labels.length; i++) {
    labels.push(datos.labels[i]);
    ventas.push(datos.data[i]);
  }
  var ctx = document.getElementById("VendedoresMes").getContext('2d');
  var chart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: labels,
      datasets: [{
        label: 'Ventas por vendedor',
        data: ventas,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
}


</script>
